<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="fr.jhelp.multitools">

    <application
        android:name=".JHelpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Images manipulation -->

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".images.GreyImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".images.TintImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".images.InvertImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".images.ShiftImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".images.ContrastImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".images.DarkerImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".images.MultiplyImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".images.AddImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".images.BumpedImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".images.MaskedImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!-- 3D -->

        <activity
            android:name=".engine.PlaneActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".engine.BoxActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".engine.SphereActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".engine.RevolutionActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".engine.FieldActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".engine.AnimationActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!-- Tutorial -->

        <activity
            android:name=".tutorial.HelloWorldActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".tutorial.DiffuseMaterialActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".tutorial.TextureMaterialActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".tutorial.TextureAndDiffuseMaterialActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <!-- Main -->

        <activity
            android:name=".showroom.ShowRoomActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>